<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Intergalactic Marketing</title>
</head>
<body style = "margin-left : 500px; margin-right : 500px">

	<form th:action="@{/home}" enctype="multipart/form-data" method="post">
		<input type="file" name="file"/>
   	   <input type="submit" value="Upload"/> 
	</form>
	<table>
		<thead>
			<tr>
				<th>Ouestion List       </th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="question : ${questions}">
				<td th:text="${question.getQuestionString().toString()}">Production List</td>
				<div th:if="${question.getAmount()} == 0.0">
				I have no idea what you are talking about
				</div>
				<td th:text="${question.getAmount()}">Production Amount</td>
			</tr>
		</tbody>

	</table>
</body>
</html>
